{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'public:contact' as contact_url %}

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ index_url }}">Ekhos-Phos</a>
        <button class="navbar-toggler text-uppercase font-weight-bold hs-bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3  {% if request.path == index_url %}active{% endif %}"
                        href="{{ index_url }}">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3  {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3  {% if request.path == contact_url %}active{% endif %}"
                        href="{{ contact_url }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav>
    {% url 'public:index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>

    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}About{% else %}<a href="{{ about_url }}">About</a>{% endif %}</span>

    {% url 'public:contact' as contact_url %}
    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}">Contact</a>{% endif %}</span>
    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'profile' as profile_url %}
            <span>Hi {% if request.path == profile_url %} {{ user.username }}!{% else %}<a href="{{ profile_url }}">{{ user.username }}</a>{% endif %}</span>


            <span>
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </span>
        {% else %}
            <span>
                <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            </span>
        {% endif %}
    </span>
</nav> -->