#main {
  padding-top: 74px;
}
@media (min-width: 992px) {
  #main {
    padding-top:104px;
  }
}

@font-face {
    font-family: "Ekhosphos greek";
    src:
    url("fonts/pac_libertas_font-webfont.woff") format("woff"),
    url("fonts/PAC_LIBERTAS_font.ttf") format("truetype");

}

@font-face {
    font-family: "Ekhosphos scan";
    src:
    url("fonts/jaapokkisubtract-regular-webfont.woff") format("woff"),
    url("fonts/jaapokkisubtract-regular.otf") format("truetype");
}

.navbar-brand{
    font-family: 'Ekhosphos greek';
}